* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
img {
  max-width: 100px;
  max-height: 100px;
}
body {
  min-height: 100vh;
  background: linear-gradient(#ff6969, #ffffff);
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
header .Logo {
  padding: 30px 40px;
}
header .navbar {
  padding: 30px 100px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #ffffff;
  border-radius: 10px;
}

header ul li a:hover,
.active {
  background: #ffffff;
  color: #ff5555;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #550000, transparent);
  z-index: 1000;
}
#platform {
  position: absolute;
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
  overflow-y: hidden;
  z-index: 4;
}
#platform {
  position: absolute;
  right: 0;
  bottom: 0;
}
#buildings3 {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  overflow-y: hidden;
  z-index: 3;
}
#buildings3 {
  position: absolute;
  left: 0;
  bottom: 0;
}
#buildings2 {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  overflow-y: hidden;
  z-index: 2;
}
#buildings2 {
  position: absolute;
  left: 0;
  bottom: 0;
}
#buildings1 {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  overflow-y: hidden;
  z-index: 1;
}
#buildings1 {
  position: absolute;
  left: 0;
  bottom: 0;
}
#moon {
  position: absolute;
  max-width: 22%;
  max-height: 22%;
  object-fit: cover;
  overflow-y: hidden;
  z-index: 0;
}
#moon {
  position: absolute;
  left: 850px;
  top: 120px;
}
#batmanbro {
  position: absolute;
  max-width: 55%;
  max-height: 55%;
  object-fit: cover;
  overflow-y: hidden;
  z-index: 5;
}
#batmanbro {
  position: absolute;
  right: 115px;
  bottom: 10px;
}
.About {
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #550000;
  z-index: 1000;
}
.About h2 {
  margin-left: 238px;
  align-items: center;
}
.About h2 text {
  font-size: 64px;
  margin-bottom: 10px;
  color: #ffd5d5;
}
.About h2 .line1 {
  content: "";
  background-color: #D80E0E;
  border-radius: 20px;
  margin-right: 3px;
  padding: 0px;
  width: 10px;
  height: 18px;
}
.About h2 .line2 {
  content: "";
  background-color: #ffd5d5;
  border-radius: 20px;
  margin-right: 12px;
  padding: 0px;
  width: 10px;
  height: 54px;
}
.About p {
  font-size: 1em;
  color: #ffd5d5;
  padding-right: 416px;
  padding-left: 260px;
  line-height: 25px;
}

.About p,
.About img {
  display: inline-block;
}

.About img {
  position: absolute;
  top: 120px;
  right: 100px;
  max-width: 20em;
  max-height: 20em;
  float: right;
}
.moviesection {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #550000;
  z-index: 1000;
}
.moviesection h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  padding-left: 260px;
  color: #ffd5d5;
}
.row_moviecards {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.row_moviecard {
  max-height: 400px;
  max-width: 100%;
  border-radius: 3%;
  margin-right: 10px;
}
.row_moviecard:hover {
  transform: scale(0.85);
}
.row_moviecards {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}
.row_moviecards::-webkit-scrollbar {
  display: none;
}
.Connect {
  background: #550000;
  padding: 100px;
  justify-items: center;
  z-index: 1000;
}
.Connect h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #ffd5d5;
  text-align: center;
}
.Connect .logo {
  display: flex;
  justify-content: center;
}
.Connect .logo img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}
.Connect .logo img:hover {
  transform: scale(0.8);
}
